<%- include("partials/header.ejs") %>




<% if(locals.book){ %>




    <div id="book-page-middle">

        <div id="rose1" >
            <img class="rose" src="/images/rose_decal3.png">
        </div>
        <div id="rose2" >
            <img class="rose" src="/images/rose_decal3.png">
        </div>
        <div id="rose3" >
            <img class="rose" src="/images/rose_decal3.png">
        </div>
        <div id="rose4" >
            <img class="rose" src="/images/rose_decal3.png">
        </div>
        

        <div id="book-info">

        <div id="book-title">
           <span class="book_title"> <%= book.title %> </span>
        </div>
       
        <div id="cover-img">
            <img class="book-img" src="<%= book.cover %>" alt="Book Cover" />
        </div>

        <div id="book-stats">

           <p><strong class="bullet" >Author: </strong> <%= book.author %><br></p>
            <p><strong class="bullet">Page Number: </strong><%= book.pageNum %> <br></p>
            <p><strong class="bullet">ISBN: </strong><%= book.bookIsbn %> <br></p>
            <p><strong class="bullet">Description: </strong> <%= book.summary %> <br></p>
            
        </div>


        <div class="home-button">
            <button class="button-style" onclick="window.location.href='/'">Go Back</button>
            <button class="button-style"  onClick="window.location.reload();">Shuffle</button>
        </div>
        

    </div>

</div>

<% } else{ %>
    <h1> OPPPPPPPSSSSS</h1>
    <% } %>
<%- include("partials/footer.ejs") %>