<%- include("partials/header.ejs") %>




<% if(locals.book){ %>

    <h1> Made it </h1>
    <img src="<%= book.cover %>" alt="Book Cover" />
    
    <div>
        <%= book.pageNum %> <br>
    </div>

    <div>
        <%= book.title %> <br>
    </div>

    <div>
        <%= book.author %> <br>
    </div>

    <div>
        <%= book.bookIsbn %> <br>
    </div>

    
    <div>
        <%= book.summary %> <br>
    </div>

<% } else{ %>
    <h1> OPPPPPPPSSSSS</h1>
    <% } %>
<%- include("partials/footer.ejs") %>